In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [6]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title = soup.find('div', class_='content_title').find('a').text
paragraph = soup.find('div', class_='article_teaser_body').text
print(title)
print(paragraph)

NASA's MRO Completes 60,000 Trips Around Mars
The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.

In [7]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [8]:
html2 = browser.html
soup2 = BeautifulSoup(html2, 'html.parser')
article = soup2.find('a', class_='fancybox')
href = article['data-fancybox-href']
main_URL = 'https://www.jpl.nasa.gov'
featured_image_url = main_URL + href
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16606_ip.jpg'

In [9]:
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [10]:
html3 = browser.html
soup3 = BeautifulSoup(html3, 'html.parser')
mars_weather = soup3.find('div', class_ = 'js-tweet-text-container')
mars_weather = soup3.find('p' , class_ = 'TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
mars_weather = mars_weather.replace('.twitter.com/qtElTnSRJj', '')
mars_weather

'InSight sol 167 (2019-05-17) low -100.5ºC (-148.9ºF) high -20.4ºC (-4.6ºF)\nwinds from the SW at 4.7 m/s (10.6 mph) gusting to 13.5 m/s (30.3 mph)\npressure at 7.50 hPapic.twitter.com/0Eqt9nN21o'

In [11]:
url4 = 'https://space-facts.com/mars/'
browser.visit(url4)
table = pd.read_html(url4)
df_mars = table[0]
df_mars.columns = ['Features', 'Measurements']
df_mars.set_index('Features', inplace = True)
df_mars

                                       Measurements
Features
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [12]:
html_mars = df_mars.to_html()
html_mars = html_mars.replace('\n', '')
html_mars

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Measurements</th>    </tr>    <tr>      <th>Features</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [13]:
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)

In [14]:
html5 = browser.html
soup5 = BeautifulSoup(html5, 'html.parser')
image = soup5.find_all('div', class_='item')
image_url=[]
image_title=[]
list_dict=[]
for x in image:
    image_title.append(x.find('h3').text)
    url = x.find('a', class_ = 'itemLink product-item')['href']
    goto = 'https://astrogeology.usgs.gov/' + url
    browser.visit(goto)
    image_html = browser.html
    soup_html = BeautifulSoup(image_html, 'html.parser')
    image_url.append('https://astrogeology.usgs.gov/' + soup_html.find('img', class_ = 'wide-image')['src'])
for value in range(4):
    list_dict.append({'title': image_title[value], 'img_url': image_url[value]})

list_dict

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]